<html>

<head>
    <title> anil flask page </title>
</head>

<body>
    <h1>you are in anil flask page</h1>
    <form action="/get-user-data" method="POST">

        <label for="id">id:</label>
        <input type="number" name="id"></input>

        <label for="username"> name:</label>
        <input type="text" name="username"></input>

        <br>
        <label for="user_age">user_age:</label>
        <input type="number" name="user_age"></input>

        <br>
        <input type="submit" value="submit"></input>
    </form>


</body> 


</html>